{% extends "base.html" %}

{% block head %}
  <title>{{name}}| Home </title>
   <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <body style="background: white">
    <div class ="video-container">
       <video src="https://static.videezy.com/system/resources/previews/000/018/955/original/black-plate.mp4" autoplay muted loop></video>
        <div class="content" style="text-align:center">
          <h1>CSP Web Portfolio</h1>
      </div>
    <script src="script.js"></script>
  </body>
</html>
  <body>
{% endblock %}

{% block title %}
  <h1>AkaTeam Calculus</h1>
{% endblock %}